<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="PLMConfig"
	packages="org.apache.logging.log4j.plm">
	<Properties>
		<Property name="serverLocation">%serverLocation%</Property>
		<Property name="filename">${serverLocation}/logs/PokerLeagueManager.log
		</Property>
	</Properties>
	<Filter type="ThresholdFilter" level="trace" />

	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout"
				pattern="%d{yyyy-MM-dd  HH:mm:ss,SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Appender>
		<Appender type="File" name="File" fileName="${filename}">
			<Layout type="PatternLayout"
				pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Appender>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="File" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>

</Configuration>